@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   scroll-behavior: smooth;
}

p {
   font-weight: 300;
   color: #111;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 40px 100px;
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.5s;
}
header.sticky {
   background: #fff;
   padding: 10px 10px;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
   color: #fff;
   font-weight: 700;
   font-size: 2em;
   text-decoration: none;
}

header.sticky .logo {
   color: #111;
}

header .logo span {
   color: #ff0157;
}

header .navigation {
   position: relative;
   display: flex;
}

header .navigation li {
   list-style: none;
   margin-left: 30px;
}

header .navigation li a {
   text-decoration: none;
   color: #fff;
   font-weight: 300;
}

header.sticky .navigation li a {
   color: #111;
}

header .navigation li a:hover {
   color: #ff0157;
}

.banner {
   position: relative;
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url(/img/bg.jpg);
   background-size: cover;
}

.banner .content {
   max-width: 900px;
   text-align: center;
}

.banner .content h2 {
   font-size: 5em;
   color: #fff;
}

.banner .content p {
   font-size: 1em;
   color: #fff;
}

.btn {
   font-size: 1em;
   color: #fff;
   background: #ff0157;
   display: inline-block;
   padding: 10px 30px;
   margin-top: 20px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px;
   transition: 0.5s;
   border-radius: 5px;
}

.btn:hover {
   letter-spacing: 6px;
}

section {
   padding: 100px;
}

.row {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.col-50 {
   width: 50%;
}

.titleText {
   color: #111;
   font-size: 2em;
   font-weight: 300;
}

.titleText span {
   color: #ff0157;
   font-weight: 700;
   font-size: 1.5em;
}

.imgBx {
   max-width: 100%;
   height: 100%;
}

.imgBx img {
   width: 100%;
   height: 100%;
}

.left {
   margin-right: 15px;
}

.title {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.menu .content {
   display: flex;
   justify-content: center;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   margin-top: 40px;
}

.menu .content .box {
   width: 30%;
   height: 100%;
   margin: 20px;
   border: 15px solid #fff;
   box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .text {
   padding: 15px 0 5px;
}

.menu .content .box .text h3 {
   font-weight: 300;
   color: #111;
}



/* *****- EXPERTS -***** */

.expert .content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 40px;
}

.expert .content .box {
   width: 20%;
   margin: 12px;
   padding: 5px;
}

.expert .content .box .text {
   padding: 15px 0 5px;
}

.expert .content .box .text h3 {
   font-weight: 400;
   color: #111;
}



/* *****- EXPERTS -***** */

.testimonials {
  background: url(/img/bg2.jpg);
  background-size: cover;
}

.white .titleText,
.white p {
  color: #fff;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #ff0157;
  font-size: 1em;
  font-weight: 600;
}



/* *****- CONTACT -***** */

.contact {
  width: 100%;
  background: url(/img/bg3.jpg);
  background-size: cover;
}

.contactForm {
  padding: 75px 50px;
  background: #fff;
  max-width: 500px;
  margin-top: 50px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}

.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox {
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;  
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactForm .inputBox input[type='submit'] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 120px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

